@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


.meus-filmes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-left: 12%;
    margin-right: 10%;

}


.meus-filmes article{
    width: 14%;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 4px;
}

.meus-filmes img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    display: block;
    border-radius: 8px 8px 0 0;
}

.meus-filmes img:hover{
    opacity: 0.6;

}

.meus-filmes p{
    background-color: #f0a818;
    padding: 8px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    cursor: pointer;
    color: #000000;
    font-family: 'Silkscreen', cursive;
    transition: 0.5s;
}

.meus-filmes p:hover{
    background: #092b5a;
    color: #fcfdff;
}

.meus-filmes strong{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    color: #6c788e;
}

@media(max-width: 1071px){
    .meus-filmes article{
        width: 20%;
    }
}

@media(max-width: 719px){
    .meus-filmes article{
        width: 33%;
    }
}

@media(max-width: 414px){
    .meus-filmes article{
        width: 50%;
    }
}